<!--Footer start-->
<footer>
    <p>Mauricio Gonzalez</p>
    <p>
        If you only want to talk, please click on the link bellow to see my social media
    </p>
    <div class="social">
        <a href="https://twitter.com/maucoder"><i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com/in/maucoder"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UC9xMw95kGEZPw6Kbkj9cKSA"><i class="fab fa-youtube"></i></a>
    </div>
    <p class="end">The better things in the life aren't just in <a href="https://github.com/maucodergit">code</a></p>
</footer>